<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Vape.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>758CBC0B205C2AB2007E4D08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>758CBC1F205C2AB3007E4D08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>758CBC2A205C2AB3007E4D08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
